.Marwa{
  text-align-last: center;
  margin-top: 100px;
  background-color:rgb(194, 183, 183);
  border-radius: 20%;
  font-family: monospace;
  color: white;
}
img{
  width: 200px;
  border-radius: 20%;
}
button{
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  color: black;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  margin-left: 35px;
}
